<div class="recipes">
{{- range sort .Site.Data.panadero.recipes "name" "asc" -}}
  <h2>{{- .name -}}:</h2>
  <ul>
  {{- range .ingredients -}}
    <li>
    {{- $iid := .id -}}
    {{- if .recipe -}}
      {{- range where $.Site.Data.panadero.recipes "id" .id -}}{{ .name }}{{ end -}}
    {{- else -}}
      {{- range where $.Site.Data.panadero.ingredients "id" .id -}}{{ .name }}{{ end -}}
    {{- end -}}
    <span class="percent">
      {{- mul .percent 100 | printf "%2.2f" -}}%
    </span>
  </li>
  {{- end -}}
  </ul>

<!-- {{ if ge (len .notes) 1 }}{{ end }} -->

{{- range .notes -}}
  <p>{{- . | markdownify -}}</p>
{{- end -}}
{{- end -}}
</div>
