div.wrapper {
	margin: 0 auto;
	max-width: 980px;
	padding: 0 10px;
	/* sticky footer */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
section { padding-top: 10px; }
section.post, section.postlist { flex: 1; }
section.footer {height: 90px;}

ul, h4 { padding: 0; margin: 0; font-weight: inherit; }

section.categories h4 { display: inline; }
section.categories h4::after { content: " »"; }
section.categories ul { display: inline; list-style: none;}
section.categories li { display: inline; }
section.categories li + li::before { content: " | "; }

section.postlist h4::after { content: ":"; }
section.postlist ul { list-style: none; }

section.post .date { float: right; }
section.post .prevnext { float: left; }

section.post .postcontent { clear:both; text-align: justify; text-justify: inter-word; }
section.post .postcontent > p:first-child::first-letter { font-size: 2em; font-weight: lighter}
section.post .postcontent blockquote cite::before { content: "- "; }

code.has-jax {
	font: inherit;
	font-size: 100%;
	background: inherit;
	border: inherit;
	color: #515151;
}
