body {font-size:1.2em}
.wrapper{margin: 22px 10px;}

div.crumbs {font-size: 1.2em}
div.crumbs img {margin: 0 10px}
div.crumbs a:link, div.crumbs a:visited {color: #0000EE}

.post {margin-top: 15px}
.date {font-weight: bold}

ul.sections { list-style: none; padding: 10px 0 0 0; margin: 0}
ul.sections li { display: inline; }
ul.sections  li + li::before { content: " | "; }

.prevnext {
  margin: 0 0 5px 0; padding: 0;
}

.footer {
  margin: 0 20px;
  font-size: .8em;
}

.postlist {margin: 15px 0 0 0;padding: 0;}
.postlist ul {list-style:none;margin:0}
.postlist ul li {margin: 4px 0;}

code.has-jax {
	font: inherit;
	font-size: 100%;
	background: inherit;
	border: inherit;
	color: #515151;
}
