body {
	overflow-y:scroll;
}

div.wrapper {
	display: flex;
	min-height: 96vh;
	flex-direction: column;
}
div.postlist , div.post  {
	flex: 1
}

div.post img {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	background-color: transparent;
}

div.menu,
div.crumbs,
div.postlist,
div.post,
div.footer {margin-top: 16px;}

div.footer { border-top: 1px solid black}

div.post, div.postlist { flex: 1; }

ul, h4 { padding: 0; margin: 0; font-weight: inherit; }

div.menu ul { display: inline; list-style: none; }
div.menu ul + ul::before { content: " ∉"; }
div.menu li { display: inline; }
div.menu li + li::before { content: " | "; }

div.postlist h4::after { content: ":"; }
div.postlist ul { list-style: none; }

div.post .date { float: right; }
div.post .prevnext { float: left; }

div.post .postcontent { clear:both; text-align: justify; text-justify: inter-word; }
div.post .postcontent > p:first-child::first-letter { font-size: 2em; font-weight: lighter }
div.post .postcontent blockquote cite::before { content: "- "; }

div.recipes ul{ list-style-type: none; width: 360px; margin-bottom: 20px; }
div.recipes ul li {border-bottom: dotted 1px #515151; }
div.recipes ul li span.percent { float: right; }

code.has-jax {
	font: inherit;
	font-size: 100%;
	background: inherit;
	border: inherit;
	color: #515151;
}
