{{ partial "header.html" . }}
<section class="post">
{{ if ne .Section "fixed" }}
<div class="prevnext">
  {{ with .Next }}
    {{ if ne .Section "fixed" }}
      <a href="{{ .RelPermalink }}" title="{{.Title}}"> Prev</a>
    {{ else }}
      Prev
    {{ end }}
  {{ else }}
    Prev
  {{ end }}
  |
  {{ with .Prev }}
    {{ if ne .Section "fixed" }}
      <a href="{{ .RelPermalink }}" title="{{.Title}}">Next</a>
    {{ else }}
      Next
    {{ end }}
  {{ else }}
  Next
  {{ end }}
</div>
 <div class="date">
   {{ .Date.Format "Mon. January 2, 2006" }}
 </div>
{{ end }}
<div class="postcontent">
   {{ .Content }}
</div>
</section>
{{ partial "footer.html" . }}
