<div class="footer">
  <p>
    Copyright &copy; {2015, 2016}
    <br />
    Permission is hereby granted to reproduce, display, and distribute this site in it's entirety.
    <br />
    Source: <a href="https://github.com/atomi/atomi.github.io.git">https://github.com/atomi/atomi.github.io.git</a>
    <br />
    Send questions and comments to <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#116;&#111;&#109;&#105;&#64;&#105;&#110;&#98;&#111;&#120;&#46;&#99;&#111;&#109;'>&#97;&#116;&#111;&#109;&#105;&#64;&#105;&#110;&#98;&#111;&#120;&#46;&#99;&#111;&#109;</a>
    or <a href="https://twitter.com/atomi">@atomi</a> on Twitter. (Test01)
  </p>
</div>

</div><!-- /wrapper -->
<script src="/js/prism.js" charset="utf-8"></script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
    extensions: ["AMSmath.js", "AMSsymbols.js"] }
    }
  });

  MathJax.Hub.Queue(function() {
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
    all[i].SourceElement().parentNode.className += ' has-jax';
    }
  });
</script>

</body>

</html>
