<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{- .Site.BaseURL }}">
    {{- if $.IsHome }}
    <title>My Notes and Articles - atomi</title>
    {{- else }}
    <title>{{- .Title }} - atomi</title>
    {{- end }}
    <link rel="canonical" href="{{- .Permalink }}">
    <link rel="stylesheet" href="/css/simple.css">
</head>

<body>
<input type="checkbox" id="theme-toggle">
<label for="theme-toggle" class="theme-label"></label>
<div class="wrapper">
{{- $url := replace .RelPermalink "/" "" 1 }}

<header class="site-header">
  <div class="crumbs">
    <a href="/"><img src="//gravatar.com/avatar/68fbaa9a6bdad986f08cffd30738795e?s=30" alt="atomi" /></a>
    <div class="site-title">
      <a href="/">atomi</a>
      <span class="site-status">still alive</span>
    </div>
    {{- $parts := split (strings.TrimPrefix "/" .RelPermalink) "/" }}
    {{- $built := slice }}
    {{- range $parts }}
      {{- if ne . "" }}
        {{- $built = $built | append . }}
        / <a href="/{{ delimit $built "/" }}/">{{ . }}</a>
      {{- end }}
    {{- end }}

    <nav class="menu">
      <ul>
        {{- range where .Site.RegularPages "Section" "fixed" }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
    </nav>
  </div>
</header>

