<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="{{- .Site.BaseURL }}">
    {{- if $.IsHome }}
    <title>My Notes and Articles - atomi</title>
    {{- else }}
    <title>"{{- .Title }}" - atomi</title>
    {{- end }}
    <link rel="canonical" href="{{- .Permalink }}">
    <link rel="stylesheet" href="/css/simple.css">
    <link rel="stylesheet" href="/css/prism.css">
</head>

<div class="wrapper">

{{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{- $.Scratch.Add "path" .Site.BaseURL }}

<section class="crumbs">
  <a href="/"><img src="https://s.gravatar.com/avatar/b93548159967b65db2b1a3ed2e10b279?s=30" alt="atomi" /></a>
  <a href="/">atomi</a>/{{- range $index, $element := split $url "/" }}{{- $.Scratch.Add "path" $element }}{{- if ne $element "" }}<a href='{{- $.Scratch.Get "path" }}'>{{- . }}</a>/{{- $.Scratch.Add "path" "/" }}{{- end }}{{- end }}
</section>

<section class="menu">
  <h4>Categories</h4>
  <ul>
    {{- range $section, $pages := .Site.Sections }}
      {{- if ne $section "fixed" }}
      <li><a href="/{{- $section }}">{{- title $section }}</a></li>
      {{- end }}
    {{- end }}
  </ul>
    <br />
    <h4>About</h4>
    <ul>
    {{- range .Site.Pages }}
      {{- if eq .Section "fixed" }}
      <li><a href="{{- .Permalink}}"> {{- .LinkTitle }}</a></li>
      {{- end }}
    {{- end }}
    </ul>
</section>
